<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">MEAN Auth App</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <ul class="nav navbar">
        <li class="btn btn-debug" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"><a class="p-2 mr-2 text-dark" [routerLink]="['/dashboard']" style="text-decoration: none;">Dashboard</a></li>
        <li class="btn btn-debug" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"><a class="p-2 mr-2 text-dark" [routerLink]="['/']" style="text-decoration: none;">Home</a></li>
        <li class="btn btn-debug" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"><a class="p-2 mr-2 text-dark" [routerLink]="['/profile']" style="text-decoration: none;">Profile</a></li>
        <li class="btn btn-debug" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"><a class="p-2 mr-2 text-dark" [routerLink]="['/login']" style="text-decoration: none;">Login</a></li>
        <li class="btn btn-debug" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"><a class="p-2 mr-2 text-dark" [routerLink]="['/register']" style="text-decoration: none;">Register</a></li>
        <li class="btn btn-debug" *ngIf="authService.loggedIn()" ><a href="#" (click)="onLogoutClick()" style="text-decoration: none;">Logout</a> </li>
      </ul>
    </nav>
</div>
